# Dependencies
node_modules
.pnpm-store

# Build
dist
build
.next
.turbo
out
release
*.tsbuildinfo
**/.build/
**/target/

# Env
.env
.env.*
!.env.example

# IDE / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs / coverage
*.log
coverage
.nyc_output

# Misc
*.local
